In [7]:
import pandas as pd 
import pymysql

# mysql connector 
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='ashish123',
    database='segment'
)

In [12]:
query = "SELECT * FROM customers LIMIT 5;"
cursor.execute(query)
connection.commit()

In [9]:
query

'SELECT * FROM customers LIMIT 5;'

In [10]:
cursor =  connection.cursor()

In [11]:
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()
print(tables)

(('customers',), ('transactions',))

In [36]:
q = '''select 
      gender ,
      count(*) as count_gender
      from customers
      group by gender'''

In [37]:
cursor.execute(q)

2

In [38]:
r = cursor.fetchall()

In [39]:
r

(('F', 264), ('M', 236))

In [42]:
df =pd.read_csv("D:/Projects/Customer Segmentation/data/customers.csv")

In [43]:
df.head()

,customer_id,name,age,gender,income,occupation,city
0,C0001,Stacy Wilson,45,F,127691,Designer,Kolkata
1,C0002,Jessica Khan,46,M,150464,Doctor,Chennai
2,C0003,Brian Garcia,62,F,115846,Designer,Kolkata
3,C0004,Travis Santiago,43,F,136684,Teacher,Delhi
4,C0005,Rachel Rivera,37,F,170764,Software Engineer,Bangalore

In [51]:
q ='''select 
   name 
   from customers
   where age >40 '''

In [53]:
cursor.execute(q)

275

In [54]:
cursor.fetchall()

(('Stacy Wilson',),
 ('Jessica Khan',),
 ('Brian Garcia',),
 ('Travis Santiago',),
 ('Joyce Rosales',),
 ('Walter Jacobson',),
 ('Jimmy Cannon',),
 ('Rhonda Rogers',),
 ('Stephen Briggs',),
 ('Douglas Montoya',),
 ('Olivia Green',),
 ('Cassandra Mcconnell',),
 ('John Perez',),
 ('Dr. Tracie King',),
 ('Clayton Hernandez',),
 ('Andrea Villarreal',),
 ('Angela Taylor',),
 ('Christina Bradshaw',),
 ('Brian Moore',),
 ('Aaron Carter',),
 ('Blake Lopez',),
 ('Tony Smith',),
 ('Katherine Boone',),
 ('Travis Schmidt',),
 ('William Stevenson',),
 ('Maureen Mosley',),
 ('Russell Garcia',),
 ('Katie Hammond',),
 ('Kenneth Contreras',),
 ('Trevor Collier',),
 ('Randall Taylor',),
 ('Michelle Nguyen',),
 ('Margaret Ramirez',),
 ('Eric Williams',),
 ('Ashley Smith',),
 ('Timothy Levine',),
 ('Ashley Stanley',),
 ('Brandon Miller',),
 ('Isaac Benson',),
 ('Kristopher Lambert',),
 ('Adam Torres',),
 ('Steven Johnson',),
 ('Savannah Alvarez',),
 ('Jordan Brown',),
 ('Tammy Gutierrez',),
 ('Haley Atkinson',),
 ('Christine Ramos',),
 ('Leslie Mclaughlin',),
 ('Shannon Jones',),
 ('Robert Leach',),
 ('Lori Wang',),
 ('Kristen Booker',),
 ('Thomas Combs',),
 ('Brittany Gentry',),
 ('Veronica Nelson',),
 ('Janet Williams',),
 ('Nicholas Knapp',),
 ('Gregory Adams',),
 ('Timothy King',),
 ('Phillip Harris',),
 ('Adam Guzman',),
 ('Christopher Hall',),
 ('Jesse Macdonald',),
 ('James Lindsey',),
 ('Jon Cabrera',),
 ('Jade Miller',),
 ('Alison Johnson',),
 ('Victoria Gonzalez',),
 ('Daniel Green',),
 ('Douglas Garrison',),
 ('Jennifer Parsons',),
 ('Melissa Bailey',),
 ('Kimberly Green',),
 ('Barbara Bowen',),
 ('Amy Rich',),
 ('Chelsey Parker',),
 ('Mark Avila',),
 ('Charles Baird',),
 ('Jodi Thomas',),
 ('Linda Huber',),
 ('Lisa Powell',),
 ('Collin Nelson',),
 ('Christine Turner',),
 ('Jesse Moon',),
 ('Jackie Chambers',),
 ('Jeffrey Holmes',),
 ('Amber Howell',),
 ('Thomas Sanchez',),
 ('Brandy Price',),
 ('Joseph Jensen',),
 ('Steven Foster',),
 ('Shawn Willis',),
 ('Patrick Esparza',),
 ('Megan Schultz',),
 ('Jason Martin',),
 ('Justin Velasquez',),
 ('Nicholas Martinez',),
 ('Amanda Butler',),
 ('Jasmine Baker',),
 ('Jesse Bruce',),
 ('Anthony Jones',),
 ('Steven Snyder',),
 ('Nicholas Mckenzie',),
 ('Lance Jones',),
 ('Kimberly Middleton',),
 ('Allen Bell',),
 ('Rachel Alexander',),
 ('Jake Thomas',),
 ('Linda Gonzalez',),
 ('Tammy Bond',),
 ('Brittany Rodriguez',),
 ('Joyce Maldonado DDS',),
 ('Bryan Keller',),
 ('Joshua Barrera II',),
 ('Michael Garcia',),
 ('Kathleen Holt',),
 ('Raymond Cook',),
 ('Catherine Lee',),
 ('Christopher Farley',),
 ('Nathan West DDS',),
 ('Marissa Maldonado',),
 ('Tommy Thompson',),
 ('Alyssa Mcdonald',),
 ('Mrs. Amy Chen',),
 ('Matthew Moore',),
 ('Christopher Williams',),
 ('Thomas King',),
 ('Jeremiah Boyle',),
 ('Kenneth Collins',),
 ('Michael Romero',),
 ('Emma Alexander',),
 ('April King',),
 ('James Wells',),
 ('Kyle Lin',),
 ('Barbara Hinton',),
 ('Bradley Hernandez',),
 ('Steven Murray',),
 ('Jacob Patrick',),
 ('Valerie Gaines',),
 ('Jose Richardson',),
 ('Tami Ford',),
 ('Cynthia Bush',),
 ('Carol Turner',),
 ('Brenda Maxwell',),
 ('Terri Williams',),
 ('Timothy Walter',),
 ('Laura Lewis',),
 ('Jennifer Cordova',),
 ('Chad Mclean',),
 ('Patricia Gardner',),
 ('Dawn Kline',),
 ('Anna Drake',),
 ('Kyle Berry',),
 ('Janice Newton',),
 ('Maurice Green',),
 ('Dana Taylor',),
 ('Wendy Lewis',),
 ('Rebecca Wilkins',),
 ('Daniel Olsen',),
 ('Jason Bailey',),
 ('Kelly Richardson MD',),
 ('Adam Harris',),
 ('Antonio Avery',),
 ('Jeffery Black',),
 ('Frank Harris',),
 ('William Walter',),
 ('Zachary Garcia',),
 ('Suzanne Spencer',),
 ('Katherine Johnson',),
 ('Joseph Patrick',),
 ('Mary Jordan',),
 ('Mandy Lambert',),
 ('Zoe Jackson',),
 ('Richard Flores',),
 ('David Mcclain',),
 ('Andrew Chavez',),
 ('Mrs. Susan Hughes',),
 ('Adrian Perkins',),
 ('Vernon Gill MD',),
 ('Alan Monroe',),
 ('Nathaniel Davis',),
 ('Francis Baker',),
 ('Aaron Turner',),
 ('Natalie Hall',),
 ('Andre Harris',),
 ('Richard Pearson',),
 ('Henry Aguirre',),
 ('Tammy Romero',),
 ('Bryan Martinez',),
 ('Jason Patel',),
 ('Carolyn Patrick',),
 ('Dylan Silva',),
 ('Kelly Smith',),
 ('Christine Scott',),
 ('Sharon Morgan',),
 ('Matthew Park',),
 ('Rachel Lee',),
 ('Max Wallace',),
 ('Kimberly Ferguson',),
 ('Hannah Smith DDS',),
 ('Kara Torres',),
 ('Jacob French',),
 ('Jason Nelson',),
 ('Antonio Miller',),
 ('Michelle Willis',),
 ('Jeremy Hall',),
 ('Shelly Clark',),
 ('Deborah Craig',),
 ('Edward Andrews',),
 ('Melvin Huber',),
 ('Robert Patrick',),
 ('David Bautista',),
 ('Mr. Colton Stone',),
 ('William Bryan',),
 ('Lisa Shea',),
 ('Michael Tapia',),
 ('Donald Estrada',),
 ('Terri Alexander',),
 ('Ricky Herrera',),
 ('Heidi Williams',),
 ('Christina Smith',),
 ('Colleen Thomas',),
 ('Erin Guzman',),
 ('Sierra Roman',),
 ('Todd Bates',),
 ('Elizabeth Beck',),
 ('Kathleen Valencia',),
 ('Eric Gomez',),
 ('Kyle Johnson',),
 ('Joyce Griffith',),
 ('Carol Andrade',),
 ('Richard Christensen',),
 ('Richard Hurley',),
 ('David Rodgers',),
 ('Kelly Garcia',),
 ('Anna Ramirez',),
 ('Bryan Kirby',),
 ('Ashley Warren',),
 ('Christina Smith',),
 ('Michelle King',),
 ('Steven Garrett',),
 ('Kathleen Faulkner',),
 ('Jennifer Hall',),
 ('Mark Hardin',),
 ('Michael Jones',),
 ('Leslie Bell',),
 ('Chelsea Harding',),
 ('Leonard Mitchell',),
 ('Monique Rogers',),
 ('Alyssa Yates',),
 ('Andrew Jones',),
 ('Sarah Brown',),
 ('Joseph Vargas',),
 ('Hannah Cochran',),
 ('Jason Hall',),
 ('Michael Sanders',),
 ('Renee Morris',),
 ('Jason Thompson',),
 ('Ryan Phelps',),
 ('Anne Davis',),
 ('Courtney Bridges',),
 ('Jeffrey King',),
 ('Kimberly Holt',),
 ('Stephanie Calhoun',),
 ('David Coleman',),
 ('Angela Black',),
 ('Richard Thomas',),
 ('Danielle Strickland',),
 ('Kimberly Reid',),
 ('Tyler Contreras',),
 ('Ashley Nunez',),
 ('Lisa Page',),
 ('Victoria Garcia',),
 ('Sharon Beltran',),
 ('Amy Davis',))

In [62]:
n = '''select 
       min(income), 
       occupation
       from customers
       group by occupation '''

In [59]:
cursor.execute(r)

6

In [60]:
cursor.fetchall()

((198490, 'Designer'),
 (195484, 'Doctor'),
 (194120, 'Teacher'),
 (194530, 'Software Engineer'),
 (199163, 'Banker'),
 (199628, 'Consultant'))

In [61]:
def abc(b):
    cursor.execute(b)
    cursor.fetchall()

In [64]:
cursor.execute(n)

6

In [65]:
cursor.fetchall()

((28989, 'Designer'),
 (25492, 'Doctor'),
 (28862, 'Teacher'),
 (27228, 'Software Engineer'),
 (27153, 'Banker'),
 (25419, 'Consultant'))

In [71]:
q = '''select distinct city from customers'''

In [72]:
cursor.execute(q)

6

In [73]:
# Total number of uniques city 
cursor.fetchall()

(('Kolkata',),
 ('Chennai',),
 ('Delhi',),
 ('Bangalore',),
 ('Mumbai',),
 ('Hyderabad',))

In [74]:
b= '''select occupation , city , gender 
       from customers 
       count(gender) over(partition by occupation)
       '''

,customer_id,name,age,gender,income,occupation,city
0,C0001,Stacy Wilson,45,F,127691,Designer,Kolkata
1,C0002,Jessica Khan,46,M,150464,Doctor,Chennai
2,C0003,Brian Garcia,62,F,115846,Designer,Kolkata
3,C0004,Travis Santiago,43,F,136684,Teacher,Delhi
4,C0005,Rachel Rivera,37,F,170764,Software Engineer,Bangalore